---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import AboutAgent from '../components/AboutAgent.astro';
import Clients from '../components/Clients.astro';
import CompanyProfile from '../components/CompanyProfile.astro';
import Vision from '../components/Vision.astro';
import LegalVideo from '../components/LegalVideo.astro';
import Gallery from '../components/Gallery.astro';
import PromoSection from '../components/PromoSection.astro';
import Facilities from '../components/Facilities.astro';
---

<MainLayout title="Samira Travel - Agen Umroh & Haji Resmi PPIU Kemenag" description="Agen Umroh & Haji Resmi Samira Travel. PPIU 16092100475620005. Berangkat Pasti, Jadwal Mingguan, Pembiayaan Syariah Tersedia.">
  <Hero />
  <CompanyProfile />
  <Vision />
  <LegalVideo />
  <Gallery />
  <PromoSection />
  <div id="tentang">
    <Features />
  </div>
  <AboutAgent />
  <Clients />
  <Facilities />
</MainLayout>