<section class="py-20 bg-slate-900 text-white">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
        <h2 class="font-serif text-3xl font-bold mb-4">Galeri Tamu Allah</h2>
        <p class="text-gray-400">Momen khusyuk dan bahagia jamaah Samira Travel.</p>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="col-span-2 row-span-2 relative group overflow-hidden rounded-xl">
            <img src="public/Umroh5.png" class="w-full h-full object-cover transform group-hover:scale-110 transition duration-500"/>
        </div>
        
        <div class="relative group overflow-hidden rounded-xl h-48">
            <img src="public/Umroh2.png" class="w-full h-full object-cover transform group-hover:scale-110 transition duration-500"/>
        </div>
        <div class="relative group overflow-hidden rounded-xl h-48">
            <img src="public/Umroh1.png" class="w-full h-full object-cover transform group-hover:scale-110 transition duration-500"/>
        </div>
        <div class="relative group overflow-hidden rounded-xl h-48">
            <img src="public/Umroh4.png" class="w-full h-full object-cover transform group-hover:scale-110 transition duration-500"/>
        </div>
        <div class="relative group overflow-hidden rounded-xl h-48">
            <img src="public/Umroh3.png" class="w-full h-full object-cover transform group-hover:scale-110 transition duration-500"/>
        </div>
    </div>
  </div>
</section>