<section class="relative h-screen flex items-center justify-center overflow-hidden bg-slate-900">
  <div class="absolute inset-0 z-0">
    <img 
      src="https://upload.wikimedia.org/wikipedia/commons/9/95/Masjid-al-haram-1-1024x602.jpg" 
      alt="Masjidil Haram" 
      class="w-full h-full object-cover opacity-60"
    />
    <div class="absolute inset-0 bg-gradient-to-t from-slate-900 via-transparent to-black/30"></div>
  </div>

  <div class="relative z-10 text-center text-white px-4">

    <h1 class="font-serif text-5xl md:text-7xl font-bold mb-6 drop-shadow-lg">
      Rindu <span class="text-samira-gold italic">Baitullah ?</span>
    </h1>

    <p class="text-gray-300 text-lg md:text-xl max-w-2xl mx-auto mb-8">
      Kami SamiraTravel Bersedia Melayani Perjalanan Ibadah Umroh & Haji Anda dengan Amanah.
    </p>
  </div>
</section>